body {
/* no-repeat */
 background-image: url("nature.jpg");
 background-repeat: repeat-y;
/*  background-repeat: no-repeat; */
 background-attachment: fixed;	/*not scroll.let the background image follow my scroll*/
 background-size: none;
/*  margin-left: 0%;  Gives me some space from the left side of the page */
 color: white;	/*text color*/
 font-size: 40px;
}



ul {
 margin: 0px;
 padding: 0px;
/*  list-style: none; */
 font-family: arial;
 width: (100vw)/4-10px;
 height: 10%;
 font-size: 40px;
 text-align: center;
 
}

ul li {
/*  float: left; */
/*  width: 350px;
 height: 100px; */
 background-color: black;	/*The default color of the menu list*/
 opacity: .8;
 line-height: 40px;
 text-align: center;
/*  font-size: 40px; */
}

a {
 color: white;
}

ul li a {
 text-decoration: none;
 color: white;
 display: block;
/*  width: 350px;
 height: 100px;
 font-size: 40px; */
 }

ul li a:hover {
 background-color: blue;	/*when the menu item is hovered over*/
}

ul li ul li {
 display: none;
}

ul li:hover ul li {
 display: block;
}
