body {
    /* no-repeat */
     padding: 0px;
     margin: 0px;
     background-image: url("nature.jpg");
     background-repeat: repeat-y;
     /* background-repeat: no-repeat; */
     background-attachment: fixed;	/*not scroll.let the background image follow my scroll*/
     background-size: none;
     /*text color*/
     color: white;
     font-size: 25pt;
    }
    
    #centerTheTopDropdownList {
        /* essential for keeping the main ul centered on the page */
        display: flex;
        justify-content: center;
      }
    
    ul {
     padding: 0px;
     list-style: none;
     font-family: arial;
    }
    
    ul li ul li:before {
        content: "";
        display: block;
        height: 2px;
        background: rgba(255, 255, 255, 0.658);
    }

    ul li {
     float: left;
     width: 22vw;
     background-color: black;	
     /*The default color of the menu list*/
     opacity: .8;
     text-align: center;
     /* font-size: auto; */
    }
    
    ul li a {
     text-decoration: none;
     color:white;
     display: block;
     }
    
    ul li a:hover {
     background-color: blue;	/*when the menu item is hovered over*/
    }
    
    ul li ul li {
     display: none;
    }
    
    ul li:hover ul li {
     display: block;
    }
